# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Statements
## 7. Operators and operands
## 8. Order of operations
## 9. String operations
## 10. Asking the user for input
## 11. Type Casting
## 12. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [1]:
print (1)

1

In [2]:
print(2.5)

2.5

In [3]:
print ("hello world")

hello world

In [4]:
print ('hello world')

hello world

In [4]:
# print two or more values using single statement

print ("Hello",5)

Hello 5

In [6]:
# print the name of your country
print("Pakistan")

Pakistan

In [7]:
# print your date of birth
print("11th Oct, 2000")

11th Oct, 2000

In [9]:
# print your name, age and height using one print statement
print("Ahmad Makki", 23, 5.9)

Ahmad Makki 23 5.9

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [12]:
type(1)

int

In [13]:
type(2.5)

float

In [14]:
type("hello world")

str

In [14]:
# what is type of 9.3333333333
type(9.3333333333)

float

In [17]:
# what will be the type of '5'
type(5)

int

In [15]:
#print the type of (), [], {} 
type(())

tuple

In [18]:
type([])

list

In [19]:
type({})

dict

In [20]:
# what is output of type(range(5))
type(range(5))

range

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [22]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed"
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [23]:
# to print the name you can use print statement
print(name)

Ahmed

In [24]:
# print the values of age and height
print(age)
print(height)

20
3.5

In [25]:
# print all three values using single print statement
print(name,age,height)

Ahmed 20 3.5

In [32]:
# What will happen if you print 1 million using following statement
print(1,000,000)
# now search out the way to print 1 million and try it out
print("{:,}".format(1000000))

1 0 0
1,000,000

In [38]:
# Store three integers in x,y,z and print them using single print statement.
x=7
y=9
z=90

print (x,y,z)
print("The three integers are {},{},{}".format(x,y,z))

7 9 90
The three integers are 7,9,90

In [43]:
var1 = 121.25
# print type of var1
type(var1)

float

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unles
we are writing library code for others to use.

In [45]:
#what will happen
47name = 'Pakistan'

SyntaxError: invalid decimal literal (2812281450.py, line 2)

In [46]:
name@ = 'Pakistan'

SyntaxError: invalid syntax (4096507183.py, line 1)

In [47]:
class = 'Pakistan'

SyntaxError: invalid syntax (4036961000.py, line 1)

In [48]:
myname = 'kamran'

In [49]:
first_val = 10

In [50]:
string = 'abc'

It turns out that class is one of Python’s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Statements

A statement is a unit of code that the Python interpreter can execute.
We have seen two kinds of statements: print and assignment.

# 7. Operators and operands

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [51]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)

52 2 20 2.0 25 3

In [53]:
print (200+323-433)

90

In [55]:
print ((2+1)*(8-6))

6

In [57]:
# print no of bytes in 1KB using exponentiation operator
print(2**10)

1024

In [58]:
print(2*3**3*4)

216

# 8. Expressions

An expression is a combination of values, variables, and operators.

Assignement: type the following statements in the Python interpreter to see what
they do:
5
x = 5
x + 1

In [62]:
# execute the following statements and see the output
x = 5
x + 1

6

In [64]:
# what is output of
 y = 10
 x = y+=2
 print(x)

IndentationError: unexpected indent (285701337.py, line 2)

In [68]:
# Store three integers in x,y,z and print their sum and product.
x=90
y=87
z=76
sum =x+y+z
product=x*y*z
print(f"Sum is {sum}")
print(f"product is {product}")

Sum is 253
product is 595080

# 9. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [74]:
# write output of the following commands without excuting it
# print (2*(3-1)) 
4
# print ((1+1)**(5-2))
8
#print (2**1+1)
3
#print (3*1**3)
3

3

# 10. String operations

In [75]:
first = 10
second = 20
print (first + second)

30

In [76]:
first = '10'
second = '20'
print (first + second)

1020

In [77]:
print ("hello " * 3 )

hello hello hello

In [78]:
# print your name 10 times
print("Ahmad "*10)

Ahmad Ahmad Ahmad Ahmad Ahmad Ahmad Ahmad Ahmad Ahmad Ahmad

In [79]:
# What is output of var="James"*2*3
var="James"*2*3
print(var)

JamesJamesJamesJamesJamesJames

# 11. Asking the user for input

In [80]:
name = input("please enter name: ")
print (name)

please enter name: Ahmad Makki
Ahmad Makki

In [90]:
# wirte a program which take age from user and concate it three time
age= input("Please input your age: ")
print(age*3)

Please input your age: 1
111

In [92]:
# Write a program to accept two numbers from the user and calculate multiplication.
x= input("Please Enter Num1 ")
y= input("Please Enter Num2 ")
x= int(x)
y= int(y)
x*y
print(f"Multiplication is {x*y}")

Please Enter Num1 1
Please Enter Num2 2
Multiplication is 2

In [97]:
# modify this code so that it prints 121212 instead of 36
age="12"

print(age*3)

121212

# 12. Type Casting

In [101]:
a = '10'
print (a)

10

In [102]:
print(int(a)*3)
print(str(a)*3)

30
101010

In [103]:
# take an integer from user and multiply it with 15
Input = input("Please Enter Number")
print(int(Input)*15)

Please Enter Number2
30

In [106]:
num_int = 123
num_str = "456"
# Find the sum of these 2 variables
print(num_int+int(num_str))

579

# 13. Comments

In [ ]:
# here is comments

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.

Enter your name: Chuck
Hello Chuck

In [109]:
Name= input("Enter your name: ")
print(f"Hello {Name}")

Enter your name: Ahmad
Hello Ahmad

Write a program to prompt the user for hours and rate per hour to
compute gross pay.

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

In [117]:
Hours = input("Enter Hours:")
Rate= input("Enter Rate: ")
print(f"Pay: {int(Hours)*float(Rate)}")

Enter Hours:35
Enter Rate: 2.75
Pay: 96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5

Use the Python interpreter to check your answers.

In [121]:
width = 17
height = 12.0
x=width/2
y=width/2.0
z=height/3
a=1 + 2 * 5
print (x,type(x))
print (y,type(y))
print (z,type(z))
print (a,type(a))

8.5 <class 'float'>
8.5 <class 'float'>
4.0 <class 'float'>
11 <class 'int'>

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.

In [126]:
Celsius_Temp= input("Enter the input C' Temperature:")
Calculated_Temp= (int(Celsius_Temp) * 9/5) + 32
print(f"Farenheit Temp is {Calculated_Temp}")

Enter the input C' Temperature:35
Farenheit Temp is 95.0